@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.merienda-font {
    font-family: "Merienda", cursive;
  }

/* Remove spinner arrows for WebKit browsers (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner arrows from number input (Firefox Standard)  */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}